<div class="main">
  <div class="ranking_list">
    <div class="ranking">
      <div class="ranking-img"><%= image_tag "" %></div>
      <div class="ranking-box">
        <div class="ranking-title">ランキングタイトル</div>
        <div class="comment">コメント</div>
        <p class="day">2020-10-20<p>
        <p class="belong_genre"></p>
      </div>
    </div>
  </div>
  <div class="category_list">
    <div class="category">
      カテゴリー一覧
    </div>
  </div>
</div>